#works-wrap{
    display: flex;
    flex-wrap: wrap;
}
#content{
    padding: 5% 5%;
}
.work-card{
    width:33%;
    background-color: aqua;
    flex-grow: 1;
    position: relative;
    height: 200px;
}

.work-card .info{
    z-index: 2;
    opacity: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #fff;
}

.work-card .overlay-grad{
    background: linear-gradient(0deg, rgba(38, 34, 98, 0.1) 0%, rgb(0, 82, 117, 0) 100%);
}
.info, .thumbnail, .overlay-grad, .overlay-solid{
    position: absolute;
    width: 100%;
    height: 200px;
}
.thumbnail img, .info, .overlay-grad, .overlay-solid{
    width: 100%;
    height: 200px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    transform-origin: 50% 50%;
}
.thumbnail{
    overflow: hidden;
}

.thumbnail img{
    object-fit: cover;
    opacity: 1;
    -webkit-filter: grayscale(0.5);
    filter: grayscale(0.5);
    transform: scale(1.1);
}

.work-card:hover img{
    transform: scale(1);
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.work-card:hover .info{
    opacity: 1;
}

.work-card:hover .overlay-grad{
    background: linear-gradient(0deg, rgba(38, 34, 98, 0.7) 0%, rgb(0, 82, 117, 0) 100%);
}