#content{
    display: flex;
    padding: 50px 0 0 5%;
    flex-wrap: wrap;
}
.work-wrap{
    width: 100%;
    position: relative;
}
.work-wrap img{
    width: 100%;
}
.work-wrap .img-caption{
    position: absolute;
    left: -200px;
    bottom: 10px;
    width:190px;
}
.img-caption p{
    font-size: 14px;
    font-weight: 100;
    /* font-style: italic; */
    line-height: 1.2em;
    text-align: right;
}
.work-desc{
    margin-top: 30px;
}
.work-content{
    margin-top: 30px;
}
h1{
    font-size: 68px;
    font-weight: 900;
    font-family: 'capitolium-2', serif;
}
.desc-content{
    margin-right: 20px;
    /* box-shadow: 5px 5px 0 #111;
    border: 1px solid #222;
    padding: 10px; */
}
.desc-content p{
    font-size: 18px;
    line-height: 1.2em;
    margin-bottom: 1em;
    letter-spacing: 0.02em;
}

.desc-content a{
    font-family: 'neue-haas-unica' , sans-serif ;
    font-size: 18px;
    text-decoration: underline;
}

.work-content h1{
    font-family: 'neue-haas-unica' , sans-serif ;
    margin-top:40px;
    font-size: 36px;
    font-weight: 900;
}
code span{
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
}

.content-element{
    margin-bottom: 10px;
}
p.content-element{
    margin-bottom: 20px;
}